*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

app/src/androidTest/java/io/github/sdsstudios/nvidiagpumonitor/ExampleInstrumentedTest\.kt

app/src/test/java/io/github/sdsstudios/nvidiagpumonitor/ExampleUnitTest\.kt
