libraries/sqlite-ndk/src/main/cpp/CMakeLists.txt linguist-vendored
libraries/sqlite-ndk/src/main/cpp/sqlite3ndk.h linguist-language=C++
libraries/sqlite-ndk/src/main/java/com/almworks/* linguist-vendored
libraries/sqlite-ndk/src/main/java/io/requery/* linguist-vendored
libraries/sqlite-ndk/src/main/java/org/javolution/* linguist-vendored
libraries/sqlite-ndk/src/main/java/org/sqlite/* linguist-vendored
libraries/sqlite-ndk/src/main/jni/* linguist-vendored
fastlane/Fastfile linguist-vendored
Gemfile linguist-vendored
Gemfile.lock linguist-vendored
