app/proguard-rules-release.pro linguist-vendored
app/src/main/cpp/CMakeLists.txt linguist-vendored
app/src/main/cpp/sqlite3ndk.h linguist-language=C++
app/src/main/java/com/almworks/* linguist-vendored
app/src/main/java/io/requery/* linguist-vendored
app/src/main/java/org/javolution/* linguist-vendored
app/src/main/java/org/sqlite/* linguist-vendored
app/src/main/jni/* linguist-vendored
fastlane/Fastfile linguist-vendored
Gemfile linguist-vendored
Gemfile.lock linguist-vendored
world/style.mss linguist-vendored
