<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.github.getsixtyfour.openpyn">

    <!-- Allows for retrieving and storing screenshots -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:remove="android:maxSdkVersion" />
    <!-- Allows changing locales -->
    <uses-permission
        android:name="android.permission.CHANGE_CONFIGURATION"
        tools:ignore="ProtectedPermissions" />
    <!-- Allows for changing the status bar -->
    <uses-permission
        android:name="android.permission.DUMP"
        tools:ignore="ProtectedPermissions" />

    <!-- Indicates the use of the clean status bar feature -->
    <uses-feature android:name="tools.fastlane.screengrab.cleanstatusbar" />

    <application
        android:requestLegacyExternalStorage="true"
        tools:ignore="LockedOrientationActivity"
        tools:targetApi="q">
        <activity
            android:name="info.hannes.logcat.LogfileActivity"
            android:exported="false"
            android:label="Timber"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:theme="@style/AppTheme.Logcat"
            tools:replace="android:theme" />

        <provider
            android:name="com.google.firebase.provider.FirebaseInitProvider"
            android:authorities="${applicationId}.firebaseinitprovider"
            android:exported="false"
            tools:node="remove" />
        <provider
            android:name=".provider.BlockCanaryInitProvider"
            android:authorities="${applicationId}.blockcanaryinitprovider"
            android:exported="false" />
        <provider
            android:name=".provider.DebugAppInitProvider"
            android:authorities="${applicationId}.debugappinitprovider"
            android:exported="false" />
        <provider
            android:name=".provider.StethoInitProvider"
            android:authorities="${applicationId}.stethoinitprovider"
            android:exported="false" />

        <service
            android:name="com.getsixtyfour.openvpnmgmt.android.OpenVpnService"
            android:exported="false"
            android:label="@string/vpn_service_name" />
    </application>

</manifest>
