<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.github.getsixtyfour.openpyn">

    <!-- Allows for retrieving and storing screenshots -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:remove="android:maxSdkVersion" />
    <!-- Allows changing locales -->
    <uses-permission
        android:name="android.permission.CHANGE_CONFIGURATION"
        tools:ignore="ProtectedPermissions" />
    <!-- Allows for changing the status bar -->
    <uses-permission
        android:name="android.permission.DUMP"
        tools:ignore="ProtectedPermissions" />

    <!-- Indicates the use of the clean status bar feature -->
    <uses-feature android:name="tools.fastlane.screengrab.cleanstatusbar" />

    <application
        android:name=".DebugMainApplication"
        tools:ignore="LockedOrientationActivity"
        tools:replace="android:name">
        <activity
            android:name="info.hannes.logcat.LogfileActivity"
            android:label="Timber"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Licenses"
            tools:replace="android:theme" />
        <provider
            android:name="com.google.firebase.provider.FirebaseInitProvider"
            android:authorities="${applicationId}.firebaseinitprovider"
            tools:node="remove" />
    </application>
</manifest>
